@import "tailwindcss";

@theme {
  --font-display: "Open Sans", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --color-surface-50: rgb(228, 230, 238);
  --color-surface-100: rgb(219, 222, 233);
  --color-surface-200: rgb(210, 214, 227);
  --color-surface-300: rgb(182, 189, 210);
  --color-surface-400: rgb(128, 140, 177);
  --color-surface-500: rgb(73, 90, 143);
  --color-surface-600: rgb(66, 81, 129);
  --color-surface-700: rgb(55, 68, 107);
  --color-surface-800: rgb(44, 54, 86);
  --color-surface-900: rgb(36, 44, 70);

  --color-primary-50: rgb(219, 245, 236);
  --color-primary-100: rgb(207, 241, 230);
  --color-primary-200: rgb(195, 238, 224);
  --color-primary-300: rgb(159, 227, 205);
  --color-primary-400: rgb(87, 207, 167);
  --color-primary-500: rgb(15, 186, 129);
  --color-primary-600: rgb(14, 167, 116);
  --color-primary-700: rgb(11, 140, 97);
  --color-primary-800: rgb(9, 112, 77);
  --color-primary-900: rgb(7, 91, 63);

  --color-secondary-50: rgb(229, 227, 251);
  --color-secondary-100: rgb(220, 218, 250);
  --color-secondary-200: rgb(211, 209, 249);
  --color-secondary-300: rgb(185, 181, 245);
  --color-secondary-400: rgb(132, 126, 237);
  --color-secondary-500: rgb(79, 70, 229);
  --color-secondary-600: rgb(71, 63, 206);
  --color-secondary-700: rgb(59, 53, 172);
  --color-secondary-800: rgb(47, 42, 137);
  --color-secondary-900: rgb(39, 34, 112);

  --color-warning-50: rgb(252, 244, 218);
  --color-warning-100: rgb(251, 240, 206);
  --color-warning-200: rgb(250, 236, 193);
  --color-warning-300: rgb(247, 225, 156);
  --color-warning-400: rgb(240, 202, 82);
  --color-warning-500: rgb(234, 179, 8);
  --color-warning-600: rgb(211, 161, 7);
  --color-warning-700: rgb(176, 134, 6);
  --color-warning-800: rgb(140, 107, 5);
  --color-warning-900: rgb(115, 88, 4);

  --color-error-50: rgb(249, 221, 234);
  --color-error-100: rgb(246, 209, 228);
  --color-error-200: rgb(244, 198, 221);
  --color-error-300: rgb(238, 163, 200);
  --color-error-400: rgb(225, 94, 159);
  --color-error-500: rgb(212, 25, 118);
  --color-error-600: rgb(191, 23, 106);
  --color-error-700: rgb(159, 19, 89);
  --color-error-800: rgb(127, 15, 71);
  --color-error-900: rgb(104, 12, 58);

  --color-background-color: #242c46;

  --color-text-default: #fff;
  --color-text-inverted: #000;

  --color-table-header: #37446b;
  --color-table-footer: #2c3656;
  --color-table-odd-row: #2c3656;
  --color-table-even-row: #2d3759;
  --color-table-hover-row: #313d62;
  --color-table-border-color: #2e395c;
}

* {
  box-sizing: border-box;
}

/* html {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */

a {
  color: var(--primary-500);

  &:visited {
    color: var(--primary-400);
  }

  &:hover {
    color: var(--primary-600);
  }

  &:active {
    color: var(--primary-700);
  }
}
